@font-face  {
	font-family: "Circular Standard";
    src: url(CircularStd/CircularStd-Medium.otf);
}
body {
  margin: 0;
  padding: 0;
}
.grid.first {
    display: grid;
   grid-template-columns: auto auto auto auto auto;
   grid-template-rows: 200px 200px;
   grid-column-gap: 15px;
   grid-row-gap: 15px;
   margin: 15px 15px 15px 15px;
}
.grid.second {
    display: grid;
   grid-template-columns: auto auto auto auto auto;
   grid-template-rows: 100px;
   grid-row-gap: 15px;
   grid-column-gap: 15px;
   margin: 15px 15px 15px 15px;
}
.flexcontainer  {
  /*margin: auto;*/
  border: 1px solid black;
  height: 300px;
  object-fit: contain;
/*  margin: 15px;*/
}
/*.skewboxone:after {
    content: " ";
    position: absolute;
    display: inline;
    width: 100%;
    height: 50%;
    margin-top: -480px;
    left: 0;
    z-index: -1;
    border: 1px solid black;
    transform-origin: bottom left;
    transform: skew(0deg, 10deg);
}*/
.grid.third {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.third section  {
  border: 1px solid black;
  border-bottom: 0;
  width: 25px;
height: 100%;
}
.one {
	border: 1px solid black;
}
.two {
	border: 1px solid black;
}
.one.deux {
	border: 1px solid black;
	border-right: 0;
}
.one.deux:after {
    content: " ";
  /*  position: absolute;*/
    display: block;
    width: 100%;
    height: 100%;
    margin-top: -19px;
    left: 0;
    z-index: -1;
    border: 1px solid black;
    border-left: 0;
    margin-right: 80px;
    transform-origin: bottom left;
    transform: skew(-30deg, 0deg);
}
.one.trois  {
	content: " ";
    display: block;
    width: 100%;
    height: 99%;
    left: 0;
    z-index: -1;
    border: 1px solid black;
    border-right: 0;
    transform-origin: bottom right;
    transform: skew(-30deg, 0deg);
}
.one.trois:after {
	content: " ";
    display: block;
    height: 99.5%;
    margin-top: -17px;
    margin-left: -80px;
    border: 1px solid black;
	border-left: 0;
	border-top: 0;
    transform-origin: top right;
    transform: skew(30deg, 0deg);
}
.one.quatre  {
	margin-left: 120px;
  margin-right: -30px;
}
.one.cinq  {
  margin-left: 30px;
}
.one.sept {
  border-right: 0;
}
.ones.sept:after {
   content: " ";
    width: 100%;
    height: 100%;
    margin-top: -19px;
    left: 0;
    z-index: -1;
    border: 1px solid black;
    /*border-left: 0;*/
    margin-right: 80px;
    transform-origin: bottom left;
    transform: skew(-30deg, 0deg);
}
.one.huit  {
  content: " ";
    display: block;
    width: 100%;
    height: 99%;
    left: 0;
    z-index: -1;
    border: 1px solid black;
    border-right: 0;
    transform-origin: bottom right;
    transform: skew(-30deg, 0deg);
}
.one.huit:after {
  content: " ";
    display: block;
    height: 99.5%;
    margin-top: -17px;
    margin-left: -80px;
    border: 1px solid black;
  border-left: 0;
  border-top: 0;
    transform-origin: top right;
    transform: skew(30deg, 0deg);
}
.one.neuf  {
  margin-left: 120px;
}

/*#triangle {
  width: 350px;
  height: 250px;
  margin-top: 300px;
  background-color: blue;
  border: 1px solid black;
  /*background-size: cover;*/
  clip-path: polygon(0% 100%, 40% 70%, 40% 50%, 30% 55%);
}*/

/* Center the demo */
/*html, body { height: 100%; }
body {
display: flex;
justify-content: center;
align-items: center;
}

body {
  background-color: #333;
}*/


